{# ! No relative paths needed, all files inside templates/ are available ! #}

{% set items = [{ title: "foo", id: 1 }, { title: "bar", id: 2}] %}

{% extends "base.njk" %}

{% block title %}
{% endblock %}

{% block main %}

{% endblock %}

{# include other blocks as necessary #}
