.subtext {
  font-size: 1rem;
}

section {
  padding: $unit10;
  background-color: $color-accent-1;
}

.price-card {
  background-color: $white;
}

.first {
  padding-right: 3rem;
}

.disclaimer {
  font-style: italic;
  color: $color-accent-2;
  span {
    text-decoration: underline;
  }
}
