body {
  font-family: $base-font-family;
}

section {
  padding: $unit10;
}

svg {
  display: inline;
  margin-right: $unit2;
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.primary {
  color: $color-primary;
}

.bg-1 {
  background-color: $color-accent-1;
}

.btn,
.btn-primary,
.btn-secondary {
  max-width: 300px;
  padding: $unit $unit4;
  margin: 0 auto;
}

.btn-secondary {
  background-color: $color-primary;
  &:hover {
    background-color: darken($color-primary, 7%);
  }
  &:active {
    background-color: lighten($color-primary, 7%);
  }
  &:focus {
    font-weight: bold;
  }
}

.first {
  padding-right: 3rem;
}

.subtext {
  font-size: 1rem;
}

.disclaimer {
  font-style: italic;
  color: $color-accent-2;
  span {
    text-decoration: underline;
  }
}

.popular {
  margin-top: $unit5;
  &::before {
    display: block;
    content: "Most Popular";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2.5rem;
    text-align: center;
    font-style: italic;
    padding: $unit;
    background-color: $black;
    color: $white;
    box-sizing: inherit;
  }
  @include media-breakpoint-up(lg) {
    margin-top: 0;
    border: 2px solid $black;
    border-radius: 0;
    &::before {
      top: -2.5rem;
    }
  }
}

.mobile {
  height: 0;
  transition: height .2s ease;
  .disclaimer,
  .text,
  .button-block,
  .plan-details {
    display: none;
  }
  &.open {
    height: auto;
    min-height: 300px;
    transition: height .3s ease;
    .disclaimer,
    .text,
    .button-block,
    .plan-details {
      display: flex;
    }
  }
  @include media-breakpoint-up(lg) {
    height: auto;
    min-height: none;
    .disclaimer,
    .text,
    .button-block {
      display: flex;
    }
  }
}

.accordion-top.rotate {
  svg {
    transform: rotate(90deg);
  }
}

.card {
  border-radius: 0;
  box-sizing: border-box;
}

.cta {
  @extend .h5;
  @include media-breakpoint-up(lg) {
    font-size: 2rem;
  }
}

ul.pricing-details {
  list-style: none;
  padding-left: 0;
  li {
    padding: $unit;
  }
}
