@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

$base-font-family: "Lato", Arial, sans-serif;

$color-primary: #3594BA;

$color-accent-1: #F0F7F7;
$color-accent-2: #99A2A3;

$white: #fff;


$unit: .5rem;
$unit2: $unit * 2;
$unit3: $unit * 3;
$unit4: $unit * 4;
$unit5: $unit * 5;
$unit6: $unit * 6;
$unit7: $unit * 7;
$unit8: $unit * 8;
$unit9: $unit * 9;
$unit10: $unit * 10;
